<h1>Create a new question</h1>

<form action="/question" method="post">
  <p>
    <label for="content">Question: </label>
    <input type="text" name="content" id="content">
  </p>
  <p>
    <label for="answers">Answers: </label>
    <input type="text" name="answers" id="answers">
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>