<h1>{{item.content}}</h1>
{{#if item.answers}}
<ul>
  {{#each item.answers as |answer|}}
  <li>
    <p>{{answer}}</p>
  </li>
  {{/each}}
</ul>
{{/if}}

<a href="/question/{{item.id}}/edit">edit</a>

<form action="/question/{{item.id}}?_method=DELETE" method="post">
  <input type="submit" value="Delete">
</form>